*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%;
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section, footer { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;}

#ErrorMsgs					 { color: #f61; font-size: smaler;}
/* Autor */
#lista-preg {margin: 20px auto; text-align: left; width:auto !important;}
#lista-preg td {vertical-align: middle;}
#lista-preg td:nth-child(2) {padding-right: 50px;}
#notFound {margin-top: 60px;}
a > button {color: black;}
div.jumbotron {background-color: transparent;}
