<form class="form-inline" method="get" action="/quizes/<%= quiz.id %>/answer">
	<h4 class="text-capitalize"><strong>Tema: </strong><%= quiz.tema %></h4>
	<p><strong>Pregunta: </strong><%= quiz.pregunta %></p>
	<input type="text" class="form-control" name="respuesta" placeholder="Respuesta" required/>
	<input type="submit" class="btn btn-primary" value="Enviar"/>
</form>
