<h2>Login</h2>

<form class="form-horizontal" method="post" action="/login">

  <div class="field form-group">
    <label for="login" class="col-sm-3 control-label">Login:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="login" name="login" size="30" placeholder="usuario"/>
    </div>
  </div>

  <div class="field form-group">
    <label for="password" class="col-sm-3 control-label">Password:</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="password" name="password" size="30" placeholder="contraseña" />
    </div>
  </div>

  <div class="actions form-group">
    <input type="submit" class="btn btn-primary" name="commit" value="Login" />
  </div>

</form>
